git+https://github.com/huggingface/accelerate.git
git+https://github.com/huggingface/diffusers.git
git+https://github.com/huggingface/peft.git
sentencepiece
transformers
safetensors
torch==2.11.0
torchvision
requests
kernels
hf_xet
spaces
pillow
gradio
av
